{% extends "base.html" %}

{% block title %}О нас - Мой сайт{% endblock %}

{% block content %}
<h2>О нашем сайте</h2>
<p>На этой странице вы узнаете больше о нашей команде и целях проекта.
    Мы — группа финансовых экспертов и энтузиастов, которые стремятся делиться знаниями и опытом в области инвестиций и
    управления финансами. Наша миссия — повысить финансовую грамотность и помочь людям принимать обоснованные решения
    для обеспечения своего будущего. Мы публикуем аналитические статьи, советы по инвестированию, обзоры рынков и
    обучающие материалы, чтобы каждый мог стать более уверенным в сфере финансов.</p>
{% endblock %}
