{% extends "base.html" %}

{% block title %}Главная - Мой сайт{% endblock %}

{% block content %}
<h2>Добро пожаловать на наш сайт!</h2>
<p>Добро пожаловать на наш сайт, посвященный миру инвестиций и финансов!<br>
    Здесь вы найдете полезные советы, актуальные новости и ресурсы, которые помогут вам лучше понять финансовый рынок,
    научиться управлять личными финансами и делать обоснованные инвестиции. Наша цель — сделать финансовую грамотность
    доступной для каждого и помочь вам достигнуть финансовых целей.</p>
{% endblock %}
